@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200;300;400;700;900&family=Nunito:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    background-color: #f8f4f4;
}

body {
    background-image: url(/images/vector3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.info-section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(254, 245, 233, 0.9);
}

.info-container {
    padding: 20px;
}

.info-container h2 {
    color: #2c2c2c;
    font-family: "montserrat";
    font-weight: 900;
    padding-bottom: 10px;
}

.info-container h4,
h6 {
    color: #6f6f6f;
    font-family: "montserrat";
    font-weight: 500;
}

.info-section h2 {
    font-size: 24px;
}

.info-section h4 {
    font-size: 28px;
}

.info-section h6 {
    font-size: 18px;
    color: #a4a3a3;

}

.content {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
}

.image-container {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.content-container {
    background-color: rgb(254, 245, 233, 0.95);
    width: 93%;
    border-radius: 4px;
    margin: auto;
    padding: 15px;
}

.content-container p {
    font-family: "nunito", arial;
    word-spacing: 0.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #6f6f6f;
    position: relative;
}


.later-pages {
    margin-top: 50px;
}

.no-box {
    height: 80px;
    width: 80px;
    background-color: #696969;
    margin: -50px 0 15px 15px;
}

.no-box h2 {
    font-size: 42px;
    text-align: center;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.footer-container {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.footer-container ul {
    padding: 20px;
    width: 50%;
}

.footer-container ul li {
    list-style: none;
    line-height: 40px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.footer-container ul li a:hover {
    color: #91b6de;
}

.footer-banner {
    width: 100%;
    height: 40px;
}

.footer-start-banner {
    background-color: #b9cad6;
}

.footer-end-banner {
    background-color: #002349;
}

.copyright-notice p {
    padding-top: 30px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------CARD-CONTAINER------------------------ */
.card-list-container {
    margin: 20px;
    
}
.card-box {
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 12px;
}

.card-box .card-box-img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card-box .card-box-img h2{
    position: absolute;
    z-index: 1;
    font-family: "Montserrat";
    text-align: left;
    color: #d8d7d7;
    padding: 20px;
}

.card-box  img{
    width: 100%;
    overflow: hidden;
    transform: scale(1);
    transition: 1s ease-in;
}

.card-box img:hover {
    transform: scale(1.1);
    transition: 1s ease-out;
}

.card-box .card-box-details {
    padding: 15px;
}

.card-box-details{
    background-color: rgba(4, 0, 0, 0.5);
    height: fit-content;
}

/* ========================DESKTOP-VERSION======================== */
@media screen and (min-width: 1200px) {

    .wrapper {
        margin: auto;
        width: 1000px;
    }

    .info-section {
        height: calc(100vh);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-section h2 {
        font-size: 54px;
    }

    .info-section h4 {
        font-size: 34px;
    }

    .info-section h6 {
        font-size: 20px;
    }

    .content-container {
        padding: 50px;
    }

    .content-container p {
        line-height: 1.8rem;
        font-size: 25px;
    }

    .image-container {
        margin-bottom: 50px;
    }

    .no-box {
        height: 100px;
        width: 100px;
    }

    .no-box h2 {
        line-height: 100px;
        margin: -80px 0 0 0;
    }

    .content {
        margin-top: 60px;
    }

    .later-pages {
        margin-top: 80px;
    }

    .footer-container {
        padding: 80px;
    }

    .footer-container ul li a {
        font-size: 20px;
    }

}